body {
    background-image: url('../recursos/imagenes/pexels-cookiecutter-1148820\ \(1\).jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: Arial, sans-serif;
    color: white; /* Color del texto */
}


.contenedor {
    background-color: #000000;
    border: 1px solid #070564;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
}

.flecha {
    font-size: 2em;
    cursor: pointer;
}

.glow {
    box-shadow: 0 0 10px 5px rgba(91, 206, 216, 0.788);
}
.navbar .navbar-brand img { max-height: 90px; } 

.nav-link { font-size: 1.2em; font-weight: bold; }

.footer { background-color: #000; color: #fff; padding: 20px 0; position: relative; bottom: 0; width: 100%; text-align: center; }
 .social-icon { color: #fff; font-size: 1.5em; margin-right: 10px; transition: color 0.3s; }
  .social-icon:hover { color: #007bff; }


